<%include header%>
<form action="" method="post">
    <label for="">用户:</label>
    <input type="text" name="username"> <br>
    <label for="">密码:</label>
    <input type="password" name="password"> <br>
    <label for="">确认:</label>
    <input type="password" name="password_repeat"> <br>
    <label for="">邮箱:</label>
    <input type="email" name="email"> <br>
    <input type="submit" value="注册">
</form>
<%include footer%>